@media(max-width:1405px){
    .qrew{
        flex-direction: column;
    }
    .loikjhgbv img{
        position: inherit;
    }
    .gray button{
        margin-bottom: 30px;
            
        
    }
}



















@media(max-width:991px){
    .header__nav-link{
        margin-left: 0;
    }
    .box-56{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .blue h2{
        font-size: 43px;
    }
    .text{
        justify-content: space-between;
    }
    .purple .container p {
        text-align: center;
    }
    .purple button{
        width: 100%;
    }
    .black button{
        width: 100%;
    }
    .black .box{
        margin-top: 20px;
    }
    .pink h2{
        text-align: center;
        font-size: 46px;
    }
    .green .col-lg-6 img{
        margin-top: 20px;
    }
    .green {
        padding: 10px 0
    }
}

@media(max-width:767px){
    .gray h1{
        font-size: 50px;
    }
    .blue .box-3{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: inherit;
        padding: 10px 0;
    }
    .black h1{
        font-size: 40px;
        text-align: center;
    }
    .krab p {
        font-size: 13px;
        margin-top: 10px;
    }
    .box-1234{
        flex-direction: column;
    }
}

@media(max-width:545px){
    .gray h1{
        font-size: 32px;
    }
    .gray button{
        padding: 12px 25px;
    }
    .blue button{
        width: 100%;
    }
    .text{
        margin-top: 42px;
    }
    .red h3{
        font-size: 50px;
        margin: auto;
    } 
    .red h3 {
        font-size: 40px;
    }
    .purple form input {
        width: 100%;
        padding: 25px 0 25px 32px;
    }
    .black h1{
        margin-top: 5px;
    }
    .pink .asd{
        font-size: 30px;
    }
    
        
}

@media(max-width:420px){
    .blue h2{
        font-size: 26px;
    }
    .red h3 {
        font-size: 32px;
    }
    .pink span{
        border-radius: 40px 40px 0px 0px
    }
    .pink span{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .pink-block {
        flex-direction: column;
    }
    .pink .pink-text{
        border-radius: 0px 0px 40px 40px
    }
    .green h3 {
       font-size: 16px; 
    }
    .green p{
        font-size: 12px;
    }
}



@media(max-width:328px){
    .black p{
        font-size: 16px
    }
    
  
}

